
<h2 class="text-lg font-semibold mb-4">Add Funds</h2>
      <form method="post" action="{% url 'payment:deposit' %}" hx-post="{% url 'payment:deposit' %}" hx-target="#transaction-list" hx-swap="innerHTML" class="space-y-3">
        {% csrf_token %}
        {% if deposit_form.non_field_errors %}
          <div class="mb-4 p-4 bg-red-50 text-red-700 rounded">
            {{ deposit_form.non_field_errors }}
          </div>
        {% endif %}
        <div>
          <label class="block text-sm font-medium text-black">Amount</label>
          <input type="number" name="amount" class="mt-1 block w-full px-2 py-1.5 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black" placeholder="Enter amount" required id="id_amount" value="{{ deposit_form.amount.value|default:'' }}">
          {% for error in deposit_form.amount.errors %}
            <p class="text-red-500 text-xs mt-1">{{ error }}</p>
          {% endfor %}
        </div>
        <div>
          <label class="block text-sm font-medium text-black">Mpesa Phone Number</label>
          <input type="text" name="phone_number" class="mt-1 block w-full px-2 py-1.5 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black" placeholder="Enter Mpesa number" required>
        </div>
        <div>
          <button type="submit" class="w-full bg-white text-black border border-black px-4 py-2 rounded-lg hover:bg-gray-100">Add Funds</button>
        </div>
      </form>


